body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #EBEAE8;
}

* {
  box-sizing: border-box;
}

/* carousel */

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2346A1BE' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2346A1BE' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

/* make slider indicator and icons prev and next visible */
.carousel-container {
  margin-left: 50px !important;
  margin-right: 50px !important;
  margin-bottom: 50px !important;
}

/* push extra 50px so it's more visible just outside the carousel */
.carousel-control-next,
.carousel-control-prev {
  width: 50px !important;
}

/* SECTIONS HEADER */
.heading-container {
  display: flex;
  justify-content: center;
}

.product-item {
  background-color: #fff;
  padding: 1rem;
  height: 100%;
}

h4 {
  color: #000;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  margin: 30px 0 50px;
}

h4::after {
  content: "";
  width: 100%;
  position: absolute;
  margin: 0 auto;
  height: 3.5px;
  background: #46A1BE;
  left: 0;
  right: 0;
  bottom: -20px;
}

.logo-text {
  font-size: 24px;
  font-weight: 300;
}

/* feature headers */
h3 {
  color: #000;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  margin: 10px 0 20px;
}

h3::after {
  content: "";
  width: 100%;
  position: absolute;
  margin: 0 auto;
  height: 1px;
  background: #46A1BE;
  left: 0;
  right: 0;
  bottom: -10px;
}

/* header nav */
header {
  width: 100%;
  position: fixed;
  top: 0px;
}

#nav-bar,
#footer {
  background-color: #49565D !important;
  color: #fff !important;
}

.navbar-brand {
  color: #fff !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff !important;
}

#nav-bar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  color: white;
}

#nav-bar .logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#nav-bar .logo-container .logo {
  width: 40px;
  height: 40px;
  margin-right: .5rem;
}

#nav-bar nav ul {
  list-style: none;
  padding-left: 0;
  display: flex;
}

#nav-bar nav ul li {
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
}

#nav-bar nav ul li:last-of-type {
  padding-right: 0;
}

#nav-bar nav ul li:first-of-type {
  padding-left: 0;
}

.news-letter-container {
  background-color: #49565D;
  padding: 1rem;
  color: white;
  margin-top: 7rem !important;
}

/* Features */
.features-container h2 {
  text-align: center;
}

.features-info-body {
  display: flex;
  flex-direction: column;
}

.features-info-body .feature {
  width: 100%;
  background-color: white;
  padding: 1rem;
  margin-bottom: 1rem;
}




.features-info-body .feature img {
  width: 100%;
}

.features-info-body .feature h4 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.features-info-body .feature p {
  text-align: justify;
}

/* how it works */
.how-container h2 {
  text-align: center;
}

.how-container iframe {
  height: 100%;
}

/* @media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
} */

.subscribe-form {
  width: 400px;
}

.how-body {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.how-body .demo-container {
  width: 100%;
  height: 300px;
  margin-bottom: 1rem;
}

.how-body .how-info {
  text-align: justify;
  width: 100%;
  padding: 1rem;
  background-color: #fff;
}

.product-column {
  margin-bottom: 1rem !important;
}

@media (min-width: 768px) {
  .product-column {
    margin-bottom: 0;
  }

  .subscribe-form {
    width: 500px;
  }

  .features-info-body {
    flex-direction: row;
  }

  .features-info-body .feature {
    width: 33%;
    margin-left: 15px;
    margin-right: 15px;
    background-color: white;
    padding: 1rem;
    margin-bottom: 0;
  }

  .features-info-body .feature:last-of-type {
    margin-left: 0;
    margin-right: 0;
  }

  .features-info-body .feature:first-of-type {
    margin-left: 0;
    margin-right: 0;
  }

  .how-body {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 315px;
  }

  .how-body .demo-container {
    width: 50%;
    margin-right: .5rem;
    height: 100%;
  }

  .how-body .how-info {
    height: 100%;
    margin-left: .5rem;
    text-align: justify;
    width: 50%;
    padding: 1rem;
    background-color: #fff;
  }

  .how-info .how-info-body {
    margin-top: 5px;
  }

  .how-body .how-info h3 {
    margin-top: 0;
    text-align: center;
  }
}


.subscribe-btn {
  color: #fff;
  background-color: #46a1be;
  border: solid #46a1be 1px;
}

.header-nav ul {
  margin-bottom: 0;
}